@charset "ISO-8859-1";

form {
  width: 300px;
  margin: 150px auto;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
}


table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  text-align: left;
}
input[type="text"],
input[type="password"],
input[type="submit"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
